#welcome {
    color: blue;
    font-family: 'Manrope', sans-serif;

}

#container {
    background: #E5E5E5;
}

p {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #1F2937;
}

.box {
    box-sizing: border-box;
    width: 425px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

#next {
    /* Rectangle 5 */
    width: 344px;
    height: 40px;
    /* left: 548px;
    top: 682px; */
    
    background: #1857B6;
    border-radius: 10px;
    font-family: 'Manrope', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0 auto;
    display: block;
}

#rectangle {
    box-sizing: border-box;
    position: absolute;
    width: 425px;
    height: 32px;
    left: 519px;
    top: 320px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

/* Figma CSS funky, not planning on using it */
/* #firsttext {
    position: absolute;
    width: 406px;
    height: 30px;
    left: 520px;
    top: 288px;
}

#lasttext {
    position: absolute;
    width: 405px;
    height: 30px;
    left: 521px;
    top: 366px;
} */

#info {
    /* Form Background */

    position: absolute;
    width: 733px;
    height: 640px;
    left: 365px;
    top: 128px;
    background: #FFFFFF;
    border-radius: 9px;
}

.card {
    border: 5px;
}

.card-title {
    font-family: 'Manrope', sans-serif;
    color: blue;
}

body {
    background: url('/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-check {
    margin: auto;
    width: 60%;
    /* border: 5px solid #FFFF00; */
    padding: 10px;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2);
    /* IE */
    -moz-transform: scale(2);
    /* FF */
    -webkit-transform: scale(2);
    /* Safari and Chrome */
    -o-transform: scale(2);
    /* Opera */
    transform: scale(2);
    padding: 0px;
}

.form-check-input {
    margin: auto;
}

.form-check-label {
    font-family: 'Manrope', sans-serif;
    font-weight: 200;
    font-size: 30px;
    margin-left: 50px;
}

.card-title {
    font-family: 'Manrope', sans-serif;
    font-weight: 100;
}

